@import '../variables';

.categories {
  display: flex;
  

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  &__item {
    background-color: #f9f9f9;
    padding: 7px 15px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @include noselect();

    @media (min-width: 992px) {
      font-size: 15px;
    }

    @media (min-width: 1300px) {
      padding: 13px 30px;
      font-size: initial;
    }

    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
